absl-py==2.4.0
accelerate==1.13.0
annotated-doc==0.0.4
anyio==4.13.0
brotlicffi
certifi
cffi
charset-normalizer
click==8.3.2
colorama==0.4.6
filelock
fsspec==2026.3.0
gmpy2
grpcio==1.80.0
h11==0.16.0
hf-xet==1.4.3
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.10.1
idna
Jinja2
Markdown==3.10.2
markdown-it-py==4.0.0
MarkupSafe
mdurl==0.1.2
mkl-service==2.4.0
mkl_fft
mkl_random
mpmath
networkx
numpy
packaging==26.0
pandas==3.0.2
pillow
protobuf==7.34.1
psutil==7.2.2
pyarrow==23.0.1
pycparser
Pygments==2.20.0
PySocks
python-dateutil==2.9.0.post0
PyYAML
regex==2026.4.4
requests
rich==14.3.4
safetensors==0.7.0
scipy==1.17.1
shellingham==1.5.4
six==1.17.0
sympy==1.13.1
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tokenizers==0.22.2
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tqdm==4.67.3
transformers==5.5.3
typer==0.24.1
typing_extensions
tzdata==2026.1
urllib3
Werkzeug==3.1.8
python-dotenv